<!-- Use a search bar similar to Google's search bar -->
<form action="/search" method="post">
  <input type="text" name="query" placeholder="Search for code snippets">
  <button type="submit">Search</button>
</form>

<!-- Use Google's colors in the design of the code search engine -->
<style>
  input[type="text"] {
    border: 2px solid #4285F4; /* blue */
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
  }
  button[type="submit"] {
    background-color: #4285F4; /* blue */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
</style>


