<!-- Use a similar layout to Google's search page -->
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Display the search results here -->
        <div class="search-results">
          {% for code_snippet in code_snippets %}
            <div class="code-snippet">
              <pre>{{ code_snippet }}</pre>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  <!-- Use similar fonts to Google's search page -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Roboto', sans-serif;
    }
  </style>